body {
  font-size: 14px;
  font-family: 微软雅黑;
  color: #fff;
  background: url(../img/logo.png);
}
div#app {
  background: #09e47e;
  color: #fff;
  width: 400px;
  height: 400px;
}
div#app div {
  background: #c017cf;
  width: 200px;
  height: 200px;
}
